$main-font: "Montserrat", sans-serif;

:root {
    --index: calc(1vw + 1vh);
}

body.lock {
    overflow: hidden;
}

.main__catalog {
    color: #212121;
    padding-bottom: 30px;
    min-height: 100vh;

    .main__redirect {
        padding-top: 150px;
        padding-bottom: 40px;

        .link-active {
            font-weight: 500;
        }

        & a:last-child {
            content: "";
            padding-left: 60px;
            background: url("../../img/Arrow.svg");
            background-repeat: no-repeat;
            background-position: 10px 10px;
        }

        & a {
            font-family: $main-font;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;

            color: #212121;
        }
    }

    .main__redirect-decore {
        max-width: 100%;
        border: 1px solid #f4a040;
    }

    .main__wrapper {
        display: grid;
        grid-template-columns: 200px auto;
        gap: 30px;
        .main__catalog-block {
            .catalog-menu {
                .catalog-menu__link {
                    .catalog-menu-title {
                        padding: 40px 0;
                        font-family: $main-font;
                        font-weight: 600;
                        font-size: 29px;
                        line-height: 35px;
                        text-transform: uppercase;

                        color: #212121;
                    }

                    .catalog-menu__items {
                        .catalog-menu__item {
                            .parameters {
                                width: 175px;
                                text-align: center;
                                padding: 10px;
                                border-radius: 5px;
                                font-family: $main-font;
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1.2rem;
                                cursor: pointer;
                                color: #000;
                                border: 1px solid #f4a040;
                                margin-bottom: 20px;
                                background: none;

                                &:hover {
                                    background: #f4a040;
                                    transition: all 0.4s ease-out;
                                    color: #fff;
                                }

                                &:focus {
                                    background: #f4a040;
                                    transition: all 0.4s ease-out;
                                    color: #fff;
                                }
                            }

                            .parameters-active {
                                background: #f4a040;
                                transition: all 0.4s ease-out;
                                color: #fff;
                            }
                        }
                    }

                    .active_text-catalog-menu {
                        color: #f4a040;
                        font-weight: 600;
                    }
                    .catalog-menu-title-checkbox {
                        padding: 36px 0 33px 0;
                        font-family: $main-font;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 20px;
                        color: #212121;
                    }
                    .catalog-menu-checkbox {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 14px;
                        color: #212121;

                        /* Hide original inputs */
                        input[type="checkbox"] {
                            display: none;
                        }

                        /* Checkboxes */
                        input[type="checkbox"] + label span {
                            font-family: $main-font;
                            position: relative;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 24px;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            margin: 5px 11px 8px 0px;
                            padding: 2px;
                            text-align: center;
                            vertical-align: middle;

                            // background: rgba(255, 255, 255, 0.001);
                            border: 1.5px solid #f4a040;
                            // box-shadow: 0px 0px 0px 3px rgba(221, 157, 83, 0.957);
                            border-radius: 6px;
                            cursor: pointer;

                            &:hover {
                                background: rgba(255, 255, 255, 0);
                                // border: 1.5px solid #f4a040;
                                box-shadow: 0px 0px 2px 2px #f4a040;
                            }
                        }

                        input[type="checkbox"]:checked + label > span:before {
                            content: "";
                            position: absolute;
                            top: 4px;
                            left: 1px;

                            border-right: 3px solid rgba(255, 255, 255, 0.001);
                            border-bottom: 3px solid rgba(255, 255, 255, 0.001);
                            -ms-transform: rotate(45deg); /* IE 9 */
                            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                            transform: rotate(45deg);
                            transform-origin: 0% 100%;
                            animation: checkbox-check 75ms 130ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
                        }
                        input[type="checkbox"]:checked + label > span {
                            border: 1px solid #f4a040;
                            background-color: #f4a040;
                            animation: shrink-bounce 250ms cubic-bezier(0.4, 0, 0.23, 1);
                        }
                        @keyframes shrink-bounce {
                            0% {
                                transform: scale(1);
                            }
                            33% {
                                transform: scale(0.85);
                            }
                            100% {
                                transform: scale(1);
                            }
                        }
                        @keyframes checkbox-check {
                            0% {
                                width: 0;
                                height: 0;
                                border-color: #fff;
                                transform: translate3d(0, 0, 0) rotate(45deg);
                            }
                            33% {
                                width: 9px;
                                height: 0;
                                transform: translate3d(0, 0, 0) rotate(45deg);
                            }
                            100% {
                                height: 15px;
                                width: 9px;
                                border-color: #fff;
                                transform: translate3d(0, -0.5em, 0) rotate(45deg);
                            }
                        }

                        label {
                            font-family: $main-font;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 24px;
                            align-items: center;
                            color: #212121;
                        }
                    }
                }
            }
        }

        .main__producrs-block {
            .products {
                padding: 45px 10px 0 10px;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .product-item {
                    position: relative;
                    padding: 5px;
                    display: flex;
                    flex-shrink: 0;
                    flex-direction: column;
                    max-width: 270px;
                    min-height: 100%;
                    background: #ffffff;
                    box-shadow: 0px 0px 34px rgba(87, 84, 84, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.6);
                    border-radius: 4px;

                    .product-img {
                        display: block;
                        //width: calc(var(--index) * 12);
                        max-width: 100%;
                        height: 50%;
                        object-fit: cover;
                        flex: 1;
                    }
                    .product-img-factory {
                        position: absolute;
                        top: 8px;
                        right: 15px;
                        z-index: 3;
                    }
                }
                .invisible-product {
                    display: none;
                }
                .desc {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .product-block-title {
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 auto;
                    }
                    .product-title {
                        padding-left: 10px;
                        font-family: $main-font;
                        font-weight: 600;
                        font-size: 1.2rem;
                        line-height: 1.5rem;
                        padding-top: 15px;
                        color: #212121;
                    }

                    .product-title-option {
                        padding-left: 10px;
                        font-family: $main-font;
                        font-size: 0.9rem;
                        line-height: 1.5rem;
                        color: #212121;
                    }
                    .product-info {
                        margin-top: 10px;
                        padding-left: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        & p:first-child {
                            font-family: $main-font;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            color: #f4a040;
                        }
                        .buy-btn {
                            padding: 5px;
                            border-radius: 5px;
                            font-family: $main-font;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 16px;
                            // text-decoration-line: underline;
                            cursor: pointer;
                            color: #000;
                            background: #ffffff26;
                            border: 1px solid #f4a040;
                            &:hover {
                                background: #f4a040;
                                transition: all 0.4s ease-out;
                                color: #fff;
                            }
                        }
                    }
                    .product-description {
                        // width: 252px;
                        padding-left: 10px;
                        padding-top: 10px;
                        font-family: $main-font;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 16px;
                        color: #000000;
                    }
                    .product-discount {
                        padding: 11px 0 15px 10px;
                        // text-align: center;
                        font-family: $main-font;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                        color: #21a038;
                        & p span {
                            padding-right: 6px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 839.99px) {
        .main__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            .main__catalog-block {
                .catalog-menu {
                    .catalog-menu__link {
                        .catalog-menu-title {
                            padding: 20px 0;
                            font-family: $main-font;
                            font-weight: 600;
                            font-size: 29px;
                            line-height: 35px;
                            text-transform: uppercase;
                            color: #212121;
                        }

                        .catalog-menu__items {
                            display: flex;
                            gap: 10px;
                            flex-wrap: wrap;
                            .catalog-menu__item {
                                .parameters {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .catalog-menu-checkbox {
                            display: flex;
                            flex-direction: row;
                            align-items: start;
                            gap: 14px;
                            color: #212121;
                        }
                    }
                }
            }

            .main__producrs-block {
                .products {
                    padding: 45px 10px 0 10px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: center;
                    .product-item {
                        position: relative;
                        padding: 5px;
                        display: flex;
                        flex-shrink: 0;
                        flex-direction: column;
                        max-width: 270px;
                        min-height: 100%;
                        background: #ffffff;
                        box-shadow: 0px 0px 34px rgba(87, 84, 84, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.6);
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .pagination {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex: 1 1 auto;

        & a {
            display: block;
            color: #000;
            font-size: 1.2rem;
            line-height: 2.5rem;
            padding-right: 10px;
        }

        .pagination-active {
            color: #f4a040;
            font-size: 1.3rem;
            font-weight: 700;
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1212126d;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    .popup__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        z-index: 5;
        .popup__content {
            background-color: #fff;
            color: #000;
            max-width: 800px;
            padding: 30px;
            position: relative;
            z-index: 5;
            opacity: 0;
            transition: all 0.8s ease 0s;
            transform: translate(0px, 100%);

            .popup__title {
                font-size: 40px;
                margin: 0 0 1em 0;
            }

            .popup__text {
                font-size: 40px;
                margin: 0 0 1em 0;
            }

            .popup__close {
                position: absolute;
                right: 10px;
                top: 10px;
                color: #000;
                text-decoration: none;
            }
        }

        .popup__content {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
}

.open {
    opacity: 1;
    visibility: visible;
}
